.loginPage {
  width: 100vw;
  height: 130vh;
  overflow-x: hidden;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/8459cea4-79ab-4f27-9ef0-a7c92a30a9bb/20e8b869-a0ff-4444-8543-b1e989422cd9/NP-en-20220411-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  position: relative;

  .loginPageTopRow {
    .loginPageTopRowLogo {
      width: 160px;
      height: 46px;
      cursor: pointer;
      margin: 30px 60px;
    }
  }

  .loginFormContainer {
    width: 450px;
    height: 620px;
    background-color: black;
    opacity: 0.8;
    margin-left: 32%;
    margin-top: -70px;

    .loginForm {
      display: flex;
      flex-direction: column;
      padding: 50px;

      .loginFormSignInTitle {
        font-size: 30px;
        font-weight: 700;
        margin-top: 24px;
        color: white;
      }

      .rp-loginInputCon {
        display: flex;
        width: 320px;
        height: 42px;
        background-color: rgb(72, 72, 72);
        margin-top: 25px;
        border-radius: 20px;
        border: none;
        flex-direction: column;

        .iconAndInputCon {
          display: flex;

          .rp-inputIconCon {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            background-color: rgb(159, 159, 159);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 0.8px;

            .rp-Input-icon {
              font-size: 22px;
              color: rgb(187, 44, 44);
            }
          }

          .rp-Input {
            width: 267px;
            height: 100%;
            border: none;
            outline: none;
            padding-left: 10px;
            background-color: #f0eded;
            border-radius: 20px;
          }

          .input-error,
          .registerInputs {
            border: none;
            outline: none;
            width: 85%;
            border-radius: 20px;
            background-color: transparent;
            margin-left: 1px;
            color: white;
            padding-left: 3px;
            font-size: 18px;

            &::placeholder {
              font-size: 16px;
              color: rgb(131, 129, 129);
              font-weight: 500;
              padding-left: 3px;
            }
          }
        }
      }

      .loginFormEmailInput,
      .loginFormPasswordInput {
        max-width: 100%;
        height: 44px;
        margin-top: 40px;
        border-radius: 4px;
        border: none;
        outline: none;
        background-color: rgb(72, 72, 72);
        padding-left: 20px;
        color: white;
        font-size: 16px;

        &::placeholder {
          font-size: 16px;
          color: rgb(159, 159, 159);
          font-weight: 500;
        }
      }

      .loginFormSignInBut {
        width: 320px;
        height: 42px;
        background-color: rgb(221, 5, 5);
        margin-top: 30px;
        border-radius: 20px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-weight: 500;
        font-size: 18px;
        cursor: pointer;
      }

      .rememberMeNeedHelpCon {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        cursor: pointer;

        .rememberMeAndCheckBox {
          display: flex;
          align-items: center;
          color: white;
          margin-bottom: 14px;
          margin-left: -10px;

          .checkBox {
            color: red;
          }
        }
        .needHelp {
          color: rgb(121, 117, 117);
          margin-top: -15px;
          cursor: pointer;

          &:hover {
            color: rgb(31, 31, 244);
            font-weight: 500;
          }
        }
      }
      .loginWithFbCon {
        display: flex;
        align-items: center;
        margin-bottom: 14px;
        cursor: pointer;
        .fbIcon {
          color: white;
        }
        .loginWithFbTxt {
          color: rgb(121, 117, 117);
          font-size: 14px;

          &:hover {
            color: rgb(94, 92, 92);
          }
        }
      }

      .newToNetflix {
        color: rgb(121, 117, 117);
      }

      .signUpSpan {
        color: white;
        cursor: pointer;

        &:hover {
          border-bottom: 1.5px solid grey;
        }
      }
      .lastInfo {
        color: rgb(121, 117, 117);
        margin-top: 10px;
        font-size: 14px;
      }

      .learnMore {
        color: rgb(31, 31, 244);
        cursor: pointer;

        &:hover {
          border-bottom: 1.5px solid rgb(31, 31, 244);
          font-weight: 500;
        }
      }
    }
  }
}
