.watch {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    .back {
        color: white;
        display: flex;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 2;
        cursor: pointer;
    }

    .videoBackBut {
        margin-right: 10px;
    }
    
    .video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
