.home1 {
  background-color: var(--main-color);

  .singleMovieTitle {
    color: white;
    padding-left: 50px;
    font-size: 38px;
  }

  .singleMovieListContainer {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
    
  }
}
.home {
  background-color: var(--main-color);
  width: 100vw;
  overflow-x: hidden;
}
