.navbar {
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.6) 50%);
  width: 100%;
  color: white;
  font-size: 16px;
  position: fixed;
  top: 0;
  z-index: 99999;

  &.scrolled {
    background-color: var(--main-color);
    transition: all 0.6s ease;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        margin-right: 70px;
      }

      .active {
        color: #e50914;
        .navNarLinks {
          font-weight: 1000;
          font-size: 20px;
        }
      }
      .navNarLinks {
        margin-right: 24px;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .topbarLeft__search {
        width: 232px;
        height: 40px;
        background-color: #3a3b3c;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        .topSearchInputIcon {
          color: rgb(173, 171, 171);
          margin-left: 8px;
        }

        .topSearchInput {
          width: 84%;
          height: 100%;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: transparent;
          color: rgb(240, 236, 236);

          &::placeholder {
            color: rgb(173, 171, 171);
            padding-left: 5px;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

      .navBarKid {
        cursor: pointer;
        margin-left: 24px;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          color: rgb(210, 208, 208);
          border-bottom: 2px solid red;
          padding-bottom: 4px;
          transition: all 0.2s ease;
        }
      }

      .nabBarProfile {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 24px;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 6px;

          span {
            padding: 10px;
            cursor: pointer;
          }
        }

        &:hover {
          .options {
            height: 80px;
            width: 80px;
            display: flex;
            flex-direction: column;
            position: absolute;

            .navNarLinks {
              &:hover {
                color: rgb(163, 162, 162);
              }
            }
          }
        }
      }
    }
  }
}
