.navbar {
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.6) 50%);
  width: 100%;
  color: white;
  font-size: 16px;
  position: fixed;
  top: 0;
  z-index: 99999;

  &.scrolled {
    background-color: var(--main-color);
    transition: all 0.6s ease;
  }

  .container {
    padding: 0px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 30px;
        margin-right: 70px;
      }

      .barIcon {
        display: none;
      }
      // SideBar-----------------
      .sideBar {
        background-color: #191919;
        height: 120vh;
        width: 30vw;
        position: absolute;
        top: -400px;
        color: white;
        margin-top: 400px;
        left: 0px;

        transition: 0.3s;
        z-index: 999;
     

        .drawerSliderWrapper {
          margin-left: 50px;
          margin-top: 50px;
          display: flex;
          flex-direction: column;
          gap: 25px;


          .dactive{
            color: #e50914;
          }
          .sliderItems {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            width: 180px;
            padding: 5px;
            border-radius: 20px;

            .sliderListIcons {
              font-size: 28px;
            }

            .sliderListItem {
              font-size: 20px;
            }
          }

          .sliderItems:hover {
            background-color: #f5f5f5;
            width: 180px;
            color: #0d0d0d;
            padding: 5px;
            border-radius: 20px;
            transition: all 0.3s ease;
            padding-left: 17px;
            font-weight: 600;
          }
        }

        .clearIcon {
          cursor: pointer;
          font-size: 45px;
          margin-left: 20px;
          margin-top: 30px;
        }
      }
      //=================

      .active {
        color: #e50914;
        .navNarLinks {
          font-weight: 1000;
          font-size: 20px;
        }
      }
      .navNarLinks {
        margin-right: 24px;
        cursor: pointer;
        font-weight: 500;
      }
    }

    .right {
      display: flex;
      align-items: center;

      .topbarLeft__search {
        width: 232px;
        height: 40px;
        background-color: #3a3b3c;
        border-radius: 5px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        .topSearchInputIcon {
          color: rgb(173, 171, 171);
          margin-left: 8px;
        }

        .topSearchInput {
          width: 84%;
          height: 100%;
          border-radius: 5px;
          outline: none;
          border: none;
          background-color: transparent;
          color: rgb(240, 236, 236);

          &::placeholder {
            color: rgb(173, 171, 171);
            padding-left: 5px;
            font-size: 15px;
            font-weight: 400;
          }
        }
      }

      .navBarKid {
        cursor: pointer;
        margin-left: 24px;
        font-size: 16px;
        font-weight: 500;

        &:hover {
          color: rgb(210, 208, 208);
          border-bottom: 2px solid red;
          padding-bottom: 4px;
          transition: all 0.2s ease;
        }
      }

      .nabBarProfile {
        width: 30px;
        height: 30px;
        object-fit: cover;
        cursor: pointer;
        border-radius: 50%;
        margin-left: 24px;
      }

      .profile {
        .dropDownIcon {
          font-size: 40px;
          cursor: pointer;
          padding-right: 10px;
        }
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 6px;

          span {
            padding: 10px;
            cursor: pointer;
          }
        }

        &:hover {
          .options {
            height: 80px;
            width: 80px;
            display: flex;
            flex-direction: column;
            position: absolute;

            .navNarLinks {
              &:hover {
                color: rgb(163, 162, 162);
              }
            }
          }
        }
      }
    }
  }
}

//Responsive
@media screen and (max-width: 1100px) {
  .navbar {
    .container {
      .left {
        .barIcon {
          display: block;
        }
        .navNarLinks {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .navbar {
    .container {
      .left {
        .sideBar {
          width: 40vw;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    .container {
      .left {
        .sideBar {
          width: 50vw;
        }
      }
      .right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .navbar {
    .container {
      .left {
        .sideBar {
          width: 60vw;
        }
      }
    }
  }
}

@media screen and (max-width: 360px) {
  .navbar {
    .container {
      .left {
        .sideBar {
          width: 70vw;
        }
      }
    }
  }
}
